<p-toast></p-toast>
<div class="py-3 d-flex justify-content-center">
    <div class="row container ">
        <div class="col-lg-2 mb-4">
            <div class="list-group mb-4" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-messages-list" data-bs-toggle="list"
                    (click)="changeTab('set')">Ustawienia</a>
                <a class="list-group-item list-group-item-action " data-bs-toggle="list" role="tab"
                    id="list-settings-list" (click)="changeTab('book')">Książki</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab"
                    id="list-settings-list" (click)="changeTab('rec')">Proponowane</a>
                <a class="list-group-item list-group-item-action " data-bs-toggle="list" role="tab"
                    id="list-settings-list" (click)="changeTab('pen')">Płatności</a>

            </div>
        </div>

        <div *ngIf="tabSettings === true" class="col-lg-10">
            <app-user-profile-update>
            </app-user-profile-update>
        </div>
        <div *ngIf="tabBooks === true" class="col-lg-10">
            <app-user-profile-borrowed-books>
            </app-user-profile-borrowed-books>
        </div>
        <div *ngIf="tabRecommendations === true" class="col-lg-10">
            <app-user-profile-recomendation>
            </app-user-profile-recomendation>
        </div>
        <div *ngIf="tabPenalty === true" class="col-lg-10">
            <app-user-profile-penalty>
            </app-user-profile-penalty>
        </div>

    </div>
</div>