
<div class="row pt-3 px-3">
    <div class="col-sm-2 mb-4">
        <div class="list-group mb-4" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action d-flex align-items-center" style="padding: 0.8rem 1rem"
                id="list-messages-list" data-bs-toggle="list" aria-controls="list-messages">Ustawienia</a>
            <div class="list-group-item list-group-item-action d-flex align-items-center" style="padding: 0.8rem 1rem"
                data-bs-toggle="list" role="tab" id="list-settings-list" aria-controls="list-settings">
                <a>książki</a>
            </div>
        </div>
    </div>
    <div class = "col-10" >
        <div *ngFor="let borrowedBook of borrowedBooks">
            <p-card class="p-2">
                <div class="row d-flex align-items-center">
                    <div class="col-4">
                        <img src="assets/images/bookCoverPlaceholder.png">
                    </div>
                    <div class="col-4">
                        <div clas="row d-flex ">
                            <div class="col-12 title">
                                <p>{{borrowedBook.book?.title}}</p>
                            </div>
                            <div class="col-4">
                                <p>{{borrowedBook.book?.author}}</p>
                            </div>
                            <div class="col-4">
                                <p>Gatunek: {{genre(borrowedBook.book?.genre!)}}</p>
                            </div>
                            <div class="col-4">
                                <p>Rok wydania: {{borrowedBook.book?.publishYear}}</p>
                            </div>
                            <div class="col-4">
                                <p>Status: {{status(borrowedBook.status)}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-4">
                            <div *ngIf="borrowedBook.returnDate !== null">
                                <p>Termin oddania: {{getDate(borrowedBook.returnDate!)}}</p>
                            </div>
                        <p-button type="button" (onClick)="borrowBook(borrowedBook.id)"
                            [disabled]="borrowedBook.isRenew||borrowedBook.returnDate === null" [label]="borrowedBook.isRenew ? 'Przedłużona':'Przedłuż'"></p-button>
                    </div>
        
                </div>
            </p-card>
        
        </div> 
    </div>

   
</div>
{{con()}}