<p-toast></p-toast>
<div *ngFor="let borrowedBook of borrowedBooks | paginate: {itemsPerPage: 10,currentPage: page }">
    <p-card styleClass="mb-3">
        <div class="row d-flex align-items-center">
            <div class="col-md d-flex justify-content-center">
                <img class="img-fluid" src="assets/images/bookCoverPlaceholder.png">
            </div>
            <div class="col-md mt-3 mt-md-0 d-flex justify-content-center">
                <div clas="row">
                    <div class="col-md title">
                        <p>{{borrowedBook.book?.title}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{borrowedBook.book?.author}}</p>
                    </div>
                    <div class="col-md">
                        <p>Gatunek: {{extraFunctions.genre(borrowedBook.book?.genre!)}}</p>
                    </div>
                    <div class="col-md">
                        <p>Rok wydania: {{borrowedBook.book?.publishYear}}</p>
                    </div>
                    <div class="col-md">
                        <p>Status: {{extraFunctions.status(borrowedBook.status)}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md mt-3 mt-md-0">
                <div class="row gy-2 p-fluid">
                    <div class="col-12 d-flex justify-content-center" *ngIf="borrowedBook.employee !== null">
                        <p>Modyfikacja: {{borrowedBook.employee.firstName +" " + borrowedBook.employee.lastName}}</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p-button class="w-half" type="button" (onClick)="editStatus(borrowedBook.id)" label="Modyfikuj"></p-button>
                    </div>
                </div>
            </div>

        </div>
    </p-card>

</div>
<pagination-controls (pageChange)="page =$event" [responsive]="true"></pagination-controls>

<p-dialog [(visible)]="borrowedBookDialog" [resizable]="true" [style]="{width: '450px'}" header="Zmiana statusu"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="comment">Status</label>
            <p-dropdown appendTo="body" [(ngModel)]="selectedStatus" [options]="status" placeholder="Wybierz status"
                optionLabel="name" optionValue="number" [showClear]="true"></p-dropdown>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Anuluj" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Zapisz" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>