<div *ngFor="let borrowedBook of borrowedBooks | paginate: {itemsPerPage: 5,currentPage: page }">
    <p-card class="p-2">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img src="assets/images/bookCoverPlaceholder.png">
            </div>
            <div class="col-4">
                <div clas="row d-flex ">
                    <div class="col-12 title">
                        <p>{{borrowedBook.book?.title}}</p>
                    </div>
                    <div class="col-4">
                        <p>{{borrowedBook.book?.author}}</p>
                    </div>
                    <div class="col-4">
                        <p>Gatunek: {{extraFunctions.genre(borrowedBook.book?.genre!)}}</p>
                    </div>
                    <div class="col-4">
                        <p>Rok wydania: {{borrowedBook.book?.publishYear}}</p>
                    </div>
                    <div class="col-4">
                        <p>Status: {{extraFunctions.status(borrowedBook.status)}}</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div *ngIf="borrowedBook.returnDate !== null">
                    <p>Termin oddania: {{getDate(borrowedBook.returnDate!)}}</p>
                </div>
                <p-button type="button" (onClick)="borrowBook(borrowedBook.id)"
                    [disabled]="borrowedBook.isRenew||borrowedBook.returnDate === null"
                    [label]="borrowedBook.isRenew ? 'Przedłużona':'Przedłuż'"></p-button>
                <div class="col-4 pt-2">
                    <p-button type="button" (onClick)="editRating(borrowedBook.book?.id!,borrowedBook.id)"
                        [disabled]="borrowedBook.status !==5" [label]="borrowedBook.isRated ? 'Zmień':'Oceń'">
                    </p-button>
                </div>
                <div *ngIf="borrowedBook.status <= 0"  class="col-4 pt-2">
                    <p-button type="button" (onClick)="cancel(borrowedBook.id)" label="Anuluj">
                    </p-button>
                </div>

            </div>

        </div>
    </p-card>

</div>
<pagination-controls *ngIf="borrowedBooks.length > 0" (pageChange)="page =$event" [responsive]="true">
</pagination-controls>

<p-dialog [(visible)]="bookRatingDialog" [style]="{width: '450px'}" header="Ocena" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="rate">Ocena</label>
            <p-rating [(ngModel)]="bookRating.rating" [stars]="5" [cancel]="false"></p-rating>
            <small class="p-error" *ngIf="submitted && !bookRating.rating">Ocena jest wymagana.</small>
        </div>
        <div class="field">
            <label for="comment">Komentarz</label>
            <textarea id="comment" pInputTextarea [(ngModel)]="bookRating.comment" required rows="3"
                cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !bookRating.comment">Komentarz jest wymagany.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Anuluj" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Usuń" icon="pi pi-trash" class="p-button-text" (click)="deleteRating()"></button>
        <button pButton pRipple label="Zapisz" icon="pi pi-check" class="p-button-text" (click)="saveRating()"></button>
    </ng-template>
</p-dialog>
