<div *ngFor="let borrowedBook of borrowedBooks | paginate: {itemsPerPage: 5,currentPage: page }">
    <p-card styleClass="mb-3">
        <div class="row d-flex align-items-center">
            <div class="col-md d-flex justify-content-center">
                <img class="img-fluid" src="assets/images/bookCoverPlaceholder.png">
            </div>
            <div class="col-md mt-3 mt-md-0 d-flex justify-content-center">
                <div clas="row">
                    <div class="col-md title">
                        <p>{{borrowedBook.book?.title}}</p>
                    </div>
                    <div class="col-md">
                        <p>{{borrowedBook.book?.author}}</p>
                    </div>
                    <div *ngFor="let genre of borrowedBook.book?.genres" class="col-md-2">
                        <p>{{genre.name}}</p>
                    </div>
                    <div class="col-md">
                        <p>Rok wydania: {{borrowedBook.book?.publishYear}}</p>
                    </div>
                    <div class="col-md">
                        <p>Status: {{extraFunctions.status(borrowedBook.status)}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md mt-3 mt-md-0">
                <div class="row gy-2 p-fluid">

                    <div class="col-12 d-flex justify-content-center" *ngIf="borrowedBook.returnDate !== null">
                        <p>Termin oddania: {{getDate(borrowedBook.returnDate!)}}</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p-button class="w-half" type="button" (onClick)="borrowBook(borrowedBook.id)"
                            [disabled]="borrowedBook.isRenew||borrowedBook.returnDate === null ||borrowedBook.isReturned == true"
                            [label]="borrowedBook.isRenew ? 'Przedłużona':'Przedłuż'"></p-button>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <p-button class="w-half" type="button"
                            (onClick)="editRating(borrowedBook.book?.id!,borrowedBook.id)"
                            [disabled]="borrowedBook.status !==5" [label]="borrowedBook.isRated ? 'Zmień':'Oceń'">
                        </p-button>
                    </div>
                    <div class="col-12 d-flex justify-content-center" *ngIf="borrowedBook.status < 3">
                        <p-button class="w-half" type="button" (onClick)="cancel(borrowedBook.id)" label="Anuluj">
                        </p-button>
                    </div>
                </div>
            </div>

        </div>
    </p-card>

</div>
<pagination-controls *ngIf="borrowedBooks.length > 0" (pageChange)="page =$event" [responsive]="true">
</pagination-controls>

<p-dialog [(visible)]="bookRatingDialog" [style]="{width: '450px'}" header="Ocena" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="rate">Ocena</label>
            <p-rating [(ngModel)]="bookRating.rating" [stars]="5" [cancel]="false"></p-rating>
            <small class="p-error" *ngIf="submitted && !bookRating.rating">Ocena jest wymagana.</small>
        </div>
        <div class="field">
            <label for="comment">Komentarz</label>
            <textarea id="comment" pInputTextarea [(ngModel)]="bookRating.comment" required rows="3"
                cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !bookRating.comment">Komentarz jest wymagany.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Anuluj" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Usuń" icon="pi pi-trash" class="p-button-text" (click)="deleteRating()"></button>
        <button pButton pRipple label="Zapisz" icon="pi pi-check" class="p-button-text" (click)="saveRating()"></button>
    </ng-template>
</p-dialog>