<div class="container ">
    <p-card class="d-flex justify-content-center">
        <form>
            <div class="row">
                <div class="col-12 py-3">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText>
                        <label for="float-input">Email</label>
                    </span>
                </div>
                <div class="col-12 py-3">
                    <span class="p-float-label">
                        <input id="float-input" type="password" pInputText>
                        <label for="float-input">Hasło</label>
                    </span>
                </div>
                <p-button label="Zaloguj się"></p-button>
            </div>
        </form>
    </p-card>
</div>