/* You can add global styles to this file, and also import other style files */
.w-full{
    width: 100% !important;
}
.w-half{
    width: 50% !important;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    /* 115px is the height of my footer */
    padding-bottom: 115px;
    background-color: #e5e5e5;
}

.footer{  
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.title{
    font-size:x-large;
    font-weight:600;
}