<div class="container py-5 ">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <p-card>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row ">
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <input id="float-input-email" type="text" pInputText formControlName="email">
                                <label for="float-input-email">Email</label>
                            </span>
                        </div>
                        <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="pb text-danger">
                            <p *ngIf="email.errors?.['required']">To pole nie może być puste</p>
                            <p *ngIf="email.errors?.['email']">Podaj poprawny email</p>
                        </div>
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <input id="float-input-password" type="password" pInputText formControlName="password">
                                <label for="float-input-password">Hasło</label>
                            </span>
                        </div>
                        <div *ngIf="password && password.invalid && (password.dirty || password.touched)"
                            class="pb text-danger">
                            <p *ngIf="password.errors?.['required']">To pole nie może być puste</p>
                            <p *ngIf="password.errors?.['pattern']">Hasło musi zwierać jedną małą, dużą literę, znak
                                specialny oraz mieć długość 8-50</p>
                        </div>
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <input id="float-input-confirmPassword" type="password" pInputText
                                    formControlName="confirmPassword">
                                <label for="float-input-confirmPassword">Powtórz hasło</label>
                            </span>
                        </div>
                        <div *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                            class="pb text-danger">
                            <p *ngIf="confirmPassword.errors?.['required']">To pole nie może być puste</p>
                            <p *ngIf="confirmPassword.errors?.['mustMatch']">Hasła się nie zgadzają</p>
                        </div>
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <input id="float-input-firstName" type="text" pInputText formControlName="firstName">
                                <label for="float-input-firstName">Imię</label>
                            </span>
                        </div>
                        <div *ngIf="firstName && firstName.invalid && (firstName.dirty || firstName.touched)"
                            class="pb text-danger">
                            <p *ngIf="firstName.errors?.['required']">To pole nie może być puste</p>
                            <p *ngIf="firstName.errors?.['pattern']">Imię musi składać się z samych liter i mieć długość
                                3-50 znaków</p>
                        </div>
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <input id="float-input-lastName" type="text" pInputText formControlName="lastName">
                                <label for="float-input-lastName">Nazwisko</label>
                            </span>
                        </div>
                        <div *ngIf="lastName && lastName.invalid && (lastName.dirty || lastName.touched)"
                            class="pb text-danger">
                            <p *ngIf="lastName.errors?.['required']">To pole nie może być puste</p>
                            <p *ngIf="lastName.errors?.['pattern']">Nazwisko musi składać się z samych liter i mieć
                                długość 3-50 znaków</p>
                        </div>
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <input id="float-input-phoneNumber" type="text" pInputText
                                    formControlName="phoneNumber">
                                <label for="float-input-phoneNumber">Numer telefonu</label>
                            </span>
                        </div>
                        <div *ngIf="phoneNumber && phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                            class="pb text-danger">
                            <p *ngIf="phoneNumber.errors?.['required']">To pole nie może być puste</p>
                            <p *ngIf="phoneNumber.errors?.['pattern']">Podaj poprawny numer telefonu</p>
                        </div>
                        <div class="col-12 py-3">
                            <span class="p-float-label">
                                <p-calendar formControlName="birth" id="float-calendar" dateFormat="dd-mm-yy">
                                </p-calendar>
                                <label for="float-calendar">Data urodzenia</label>
                            </span>
                        </div>
                        <div *ngIf="birth && birth.invalid && (birth.dirty || birth.touched)" class="pb text-danger">
                            <p *ngIf="birth.errors?.['required']">To pole nie może być puste</p>
                        </div>
                        <div class="col-12 py-3">
                            <p-dropdown [options]="genders" formControlName="gender" placeholder="Wybierz płeć"
                                optionLabel="name" [showClear]="true"></p-dropdown>
                        </div>
                        <div *ngIf="gender && gender.invalid && (gender.dirty || gender.touched)"
                            class="pb text-danger">
                            <p *ngIf="gender.errors?.['required']">Proszę wybrać płeć</p>
                        </div>
                        <p-button [disabled]="loginForm.invalid" type="submit" label="Zrejestruj się"></p-button>
                    </div>
                </form>
            </p-card>
        </div>
    </div>
</div>