ul li {
    height: 100px;
    display: flex;
    align-items: center;
    color: light;
  }
  
  ul li:hover {
    transition: all 0.4s ease;
  }
  
  ul li:hover a {
    color: light;
  }
  
  ul li a {
    color: light;
    text-decoration: none;
  }

  ul li a:active {
   color: light;
  }
  .active{
    color: light;
    font-weight: bold;
  }
  .logo {
    color: light;
    text-decoration: none;
    font-size: 32px;
  }

  @media(min-width:992px){
  .navbar-custom {
    height: 85px !important;
  }
  }