<p-toast></p-toast>
<div class="py-3 d-flex justify-content-center">
    <div class="row container">
        <div class="col-lg-2 mb-4">
            <div class="list-group mb-4" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-messages-list" data-bs-toggle="list"
                    (click)="changeTab('bor')">Pożyczone książki</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab"
                    id="list-settings-list" aria-controls="list-settings" (click)="changeTab('book')">Książki</a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" role="tab"
                    id="list-settings-list" aria-controls="list-settings" (click)="changeTab('genre')">Gatunki</a>

            </div>
        </div>

        <div *ngIf="tabBorrowedBooks === true" class="col-lg-10">
            <app-employee-borrowed-books></app-employee-borrowed-books>
        </div>
        <div *ngIf="tabBooks === true" class="col-lg-10">
            <app-employee-books></app-employee-books>
        </div>
        <div *ngIf="tabGenre === true" class="col-lg-10">
            <app-employee-genre></app-employee-genre>
        </div>
    </div>
</div>